[Desktop Entry]
Name=Dynamore
Comment=A sleek, high-performance DynamoDB desktop client
Exec=dynamore
Icon=${SNAP}/meta/gui/dynamore.png
Terminal=false
Type=Application
Categories=Development;Database;
StartupWMClass=dynamore
Keywords=aws;dynamodb;database;nosql;
